@media (max-width: 767px) {
	body {
		padding-top: 50px;
	}
}

u {
	cursor: pointer;
}

.loading-app {
	height: 66px;
	width: 66px;
	background-image: url('/loading.gif');
	margin: 100px auto 0 auto;
}

.spacer {
	margin: 10px 0;
}

.alert {
	position: absolute;
	max-width: 500px;
}
