.admin-nav ul li {
	float: left;
}

.admin-nav li:not(.active) a {
	color: #ffffff !important;
}

.admin-nav ul .active a {
	border-radius: 5px;
}

.admin-nav .container {
	background-color: #404040;
	width: unset;
}

.admin-entity {
	float: left;
}

	.admin-entity button {
		margin-left: 50px;
		margin-right: 10px;
	}
